$font-color: #565656;
$font-stack: Verdana, Helvetica, sans-serif;
$card-border: 1px solid black;
$hide-element: none;
$show-element: block;

//<a href="https://www.flaticon.com/free-icons/thumbs-down" title="thumbs down icons">Thumbs down icons created by Secret Studio - Flaticon</a>
//<a href="https://www.flaticon.com/free-icons/thumbs-down" title="thumbs down icons">Thumbs down icons created by NajmunNahar - Flaticon</a>

hr {
    width: 90vw;
}

.buttonMenu {
    display:flex;
    justify-content: space-around;
}

.menuButtons {
    margin: 1vh;
    border-radius: 10px;
    color: white;
    background-color: cornflowerblue;
    height: 3vh;
    width: 15vw;
    font-weight: bolder;
    border-top: none;
    border-left: none;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.showElement {
    display: $show-element;
    margin: 5vh;
}

.hideElement {
    display: $hide-element;
}

h1 {
    color: $font-color;
    font-family: $font-stack;
    text-align: center;
    font-size: 56px;
}

p {
    pointer-events: none;
    font-weight: bold;
}

#id {
    position: relative;
}

.cardContainer {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5vh auto;
}

.card {
    //border: $card-border;
    border: 3px solid red;
    height: 150px;
    width: 300px;
    margin: 1vh;
    text-align: center;
    border-radius: 15px;
    font-family: $font-stack;
    color: $font-color;
    //display:flex;
    //align-items: stretch;
}

.back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.card.flip {
    border: 3px solid blue;
}

.thumbsUp {
    height: 30px;
    width: 30px;
    //background-color: green;
    position: relative;
    left: -105px;
    bottom: -25px;
}

.thumbsDown {
    height: 30px;
    width: 30px;
    //background-color: red;
    position: relative;
    left: 105px;
    bottom: -20px;
}