$font-color: grey;
$font-stack: Helvetica, sans-serif;
$card-border: 1px solid black;
$hide-element: none;
$show-element: block;

hr {
    width: 90vw;
}

.buttonMenu {
    display:flex;
    justify-content: space-around;
}

.menuButtons {
    margin: 1vh;
    border-radius: 10px;
    color: white;
    background-color: cornflowerblue;
    height: 3vh;
    width: 15vw;
    font-weight: bolder;
    border-top: none;
    border-left: none;
}

.showElement {
    display: $show-element;
    margin: 5vh;
}

.hideElement {
    display: $hide-element;
}

h1 {
    color: $font-color;
    font-family: $font-stack;
    text-align: center;
    font-size: 56px;
}

p {
    pointer-events: none;
    font-weight: bold;
}

#id {
    position: relative;
}

.cardContainer {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.card {
    //border: $card-border;
    border: 3px solid red;
    height: 150px;
    width: 300px;
    margin: 1vh;
    text-align: center;
    border-radius: 15px;
    //display:flex;
    //align-items: stretch;
}

.back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.card.flip {
    border: 3px solid blue;
}